// Colours
$fave-black: #262626 !default;
$fave-black-light: #4a4a4a !default;
$fave-black-lighter: #8e8e8e !default;

$fave-grey: #c7c7c7 !default;
$fave-grey-light: #dddddd !default;
$fave-grey-lighter: #f0f0f0 !default;
$fave-grey-lightest: #f1f2f3 !default;

$fave-steelblue: #495e6c !default;
$fave-steelblue-light: #99a9b4 !default;
$fave-steelblue-lighter: #d8e4ec !default;

$fave-orange: #f26000 !default;
$fave-green: #48b049 !default;
$fave-cyan: #1e8bbe !default;
$fave-blue: #2f70d4 !default;
$fave-red: #f24742 !default;
$fave-pink: #de206a !default;
$fave-yellow: hsl(48, 100%, 67%) !default;
$fave-turquoise: hsl(171, 100%, 41%) !default;
$fave-purple: hsl(271, 100%, 71%) !default;

// Fonts
$fave-family-sans-serif: 'Rubik', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Variables
$fave-size-1: 2rem;
$fave-size-2: 1.75rem;
$fave-size-3: 1.5rem;
$fave-size-4: 1.25rem;
$fave-size-5: 1.125rem;
$fave-size-6: 1rem;
$fave-size-7: 0.8125rem;
